/* Fix user-agent */

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-thumb{
    border-width: 1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}
::-webkit-scrollbar-track{
    border-width:0;
}
::-webkit-scrollbar-track:hover{
    border-left: solid 1px #aaa;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background: url('../img/green-city-gandhinagar-portal-bg.jpg') no-repeat center/cover;
  display: block;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
  min-width: 320px;
  display: block;
  left: 50%;
  transform: translate(-50%, 0);
}

/* Login Page */

.login.page {
  background: url('../img/bokeh-cover-bg.jpg') no-repeat center/cover;
  width: 100%;
}
// .login{
//    display: none;
// }

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #fff;
  font-weight: 100;
}

/* Chat page */

.chat.page {
  display: none;
}
.chat{
  max-width: 800px;
}

/* Font */

.messages {
  font-size: 100%;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: #FDD835;
  font-size: 80%;
  margin: 5px;
  text-align: center;
}
.deleted {
  color: #FDD835;
  font-size: 80%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
  height: 100%;
  padding-bottom: 60px;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px;
}
.message{
  margin-bottom: 2px;
  margin-right: 30px;
  display: flex;
  justify-content: flex-start;
}

.messageWrapper{
  background: #ebebeb;
  border-radius: 10px;
  padding: 10px;
  position: relative;
}
.messageContent{
  overflow: hidden;
}
.selfMessage{
  justify-content: flex-end;
  margin-right: 0;
  margin-left: 30px;
}
.message.typing .messageBody {
  color: gray;
}

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}
.username:hover{
  cursor: pointer;
}
.messageStatus{
  font-size: 70%;
  padding-top: 3px;
  color: #1976D2;
  overflow: hidden;
}
.messageDate{
 float: right;
}
.messageBody{
  cursor: pointer;
}
.fa{
  line-height: 100%;
  cursor: pointer;
  background: white;
  border-radius: 5px;
  border: none;
}
.fa-trash-o{
  margin-right: 20px;
  color: #d50000;
}
.fa-pencil{
  color: #0091EA;
}
.editMessage{
  position: absolute;
  background: rgba(102,187,106 ,0.8);
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  font-size: 130%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Input */

.inputMessage {
  border: 5px solid #bbb;
  bottom: 0;
  border-radius: 10px;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 100%;
  background: #ebebeb;
}


/* Context menu */

.context-menu {
  position: absolute;
  display: none;
  background-color: #fff;
  font-family: Arial, sans-serif;
}

.context-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu ul li {
  margin: 0;
  padding: 0;
  background-color: #fff;
  display: block;
}
.context-menu ul li a {
  color: #333;
  text-decoration: none;
  font-size: 12px;
  display: block;
  padding: 5px;
}

.context-menu ul li a:hover {
  background-color: #eee;
}

